
<div class="homework-form">
  <mat-form-field><input matInput placeholder="Title" [(ngModel)]="title"></mat-form-field>
  <mat-form-field><input matInput placeholder="Class (eg. 5A)" [(ngModel)]="className"></mat-form-field>
  <mat-form-field><input matInput placeholder="Subject" [(ngModel)]="subject"></mat-form-field>
  <mat-form-field><textarea matInput placeholder="Description" [(ngModel)]="description"></textarea></mat-form-field>
  <button mat-raised-button color="accent" (click)="create()">Create Homework</button>
</div>
